@import "./constants.css";

.mission-list {
    flex-grow: 1;
    background-color: var(--primary-color);
}

.header {
    padding: 10px;
}

.data-container .header h3,
.data-container .header h5 {
    margin: 5px;
}

.title {
    font-size: 2em;
    font-family: "DangerFlight";
    font-weight: 500;
    color: var(--title-font-color);
    margin: 2px;
}

.data-container {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100%;
    border: 2px solid;
    overflow: auto;
    margin: 0 10px;
}

.data-container>* {
    background-color: rgba(0, 0, 0, 0.205);
    max-height: 100%;
    width: 100%;
    overflow: auto;
}

.search-bar {
    padding: 10px 0;
    display: grid;
    align-items: center;
}

.search-bar>* {
    margin-right: 15px;
}

.folder-select {
    justify-self: right;
}

.success-border {
    border-color: var(--success-color);
}

.failure-border {
    border-color: var(--failure-color);
}

.mission-list>ul {
    padding: 0;
}

.content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    padding: 15px;
    padding-top: 0;
    margin-top: 0;
    justify-content: start;
}

.content .player-stats {
    grid-column: span 2;
}

.overall-stats .content {
    grid-template-columns: auto auto auto;
}

.content h2 {
    margin: 0px;
    font-family: "InterHeader";
    color: var(--secondary-font-color);
}